<div class="container pt-4 pb-4">
  <h1 class="page-title">Itens do Imóvel</h1>

  <app-comp-list-items
    itemsTitle="Apartamento"
    [itemsList]="itemsApto"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Quarto de Casal"
    [itemsList]="itemsQuartoCasal"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Quarto de Solteiro"
    [itemsList]="itemsQuartoSolteiro"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Banheiro"
    [itemsList]="itemsBanheiro"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Sala"
    [itemsList]="itemsSala"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Cozinha"
    [itemsList]="itemsCozinha"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Área de Serviço"
    [itemsList]="itemsAreaServico"
  ></app-comp-list-items>

  <app-comp-list-items
    itemsTitle="Prédio"
    [itemsList]="itemsPredio"
  ></app-comp-list-items>
</div>
