@import "../../../styles/variables";

.page-header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: left;
  background-size: cover;
  &-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: lighter;
    font-size: 3rem;
    color: $grayF;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  }
}
@media only screen and (max-width: 720px) {
  .page-header-title {
    font-size: 2rem;
  }
}
