<app-comp-carousel></app-comp-carousel>

<div class="container mt-4 mb-4 pt-4 text-center">
  <p>
    O <b>Beira Ingleses</b> é um apartamento em Florianópolis disponível para
    locação de temporada e fica situado na Beira da Praia dos Ingleses.<br />
    Possui 2 quartos e é deal para 4 pessoas com possíbilidade de acomodar bem
    até 6.
  </p>
  <p>
    O imóvel se encontra próximo ao centrinho da praia perto de bares,
    restaurantes, mercado, farmácia e posto de gasolina.
  </p>
  <p>
    Excelente para quem quer disfrutar da praia seja de férias ou a trabalho.
  </p>
  <app-comp-flex-itens></app-comp-flex-itens>
</div>

<div class="container p-4">
  <h2>
    <i class="fa fa-map-marker"></i>
    <span> Localização</span>
  </h2>
  <p>Estr. Dom João Becker, 1003</p>
</div>

<app-comp-location></app-comp-location>
