<app-comp-carousel></app-comp-carousel>

<div class="container pt-4">
  <h1 class="page-title">Beira Ingleses</h1>
  <p class="mt-4">
    O <b>Beira Ingleses</b> é um apartamento disponível para locação de
    temporada e fica situado na Beira da Praia dos Ingleses em Florianópolis SC.
  </p>
  <p>
    Possui 2 quartos e é ideal para 4 pessoas, com possibilidade de acomodar até
    6 pessoas muito bem.
  </p>
  <p>
    O imóvel se encontra próximo ao centrinho da praia perto de bares,
    restaurantes, mercado, farmácia e posto de gasolina.
  </p>
  <p>
    Excelente para quem quer desfrutar da praia seja nas férias ou a trabalho.
  </p>
  <h4>Reservas:</h4>
  <a
    class="btn btn-airbnb text-grayF me-2"
    href="https://www.airbnb.com.br/rooms/52493723"
    target="_blank"
  >
    <img src="../../../assets/images/icons/airbnb.svg" width="14px" />
    <span> airbnb</span>
  </a>
  <a
    class="btn btn-whatsapp text-grayF"
    href="https://api.whatsapp.com/send?phone=+5551985227073&text=Oi, gostaria de alguma informações sbre o Beira Ingleses"
    target="_blank"
  >
    <i class="fa fa-whatsapp"></i>
    <span> whatsapp</span>
  </a>
</div>

<div class="container mt-4 pt-4">
  <h1 class="page-title">Itens do Imóvel</h1>
  <app-comp-list-items [itemsList]="itemsApto"></app-comp-list-items>
  <div class="text-center mt-4">
    <a href="#" class="text-primary" routerLink="/itens">Ver todos itens</a>
  </div>
</div>

<div class="container mt-4 mb-4 pt-4">
  <h1 class="page-title">Localização</h1>
  <p>Estr. Dom João Becker, 1003</p>
  <app-comp-location></app-comp-location>
</div>
