@import "../../../styles/variables";

.comp-footer {
  background: #000000;
  color: $primary;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-image {
    display: block;
    width: 64px;
  }

  &-text {
    display: block;
    margin-top: 20px;
    font-size: 0.8rem;
  }
}
