$primary: #a300d9;
$secondary: #ffff4d;
$danger: #eb4b4b;
$success: #53da7b;
$info: #4989b4;
$warning: #eee27a;

//cinzas
$gray0: #000000;
$gray3: #333333;
$gray6: #666666;
$gray9: #999999;
$grayB: #bbbbbb;
$grayD: #dddddd;
$grayF: #ffffff;

//others
$airbnb: #ff385c;
$whatsapp: #11a585;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
