$primary: #a300d9;
$secondary: #ffff4d;
$danger: #eb4b4b;
$success: #53da7b;
$info: #4989b4;
$warning: #eee27a;

//cinzas
$preto: #3f413d;
$branco: #ffffff;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
