.menu {
  position: fixed;
  top: 0px;
  width: 200px;
  bottom: 0;
  left: -210px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;

  .d-grid {
    padding: 10px;
  }
}

.menu.opened {
  left: 0;
}
