.comp-fotos {
  margin: 20px 0;
  &-gallery {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    &-item {
      margin: 10px;
      height: 80px;
      width: 80px;
      background-position: center;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 480px) {
  .comp-fotos {
    &-gallery {
      &-item {
        width: calc(50% - 10px);
        margin: 5px;
      }
    }
  }
}
